appnope
asttokens
audioop-lts
audioread
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader
librosa
llvmlite
matplotlib
matplotlib-inline
msgpack
nest-asyncio
numba
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
pooch
prompt_toolkit
psutil
ptyprocess
pure_eval
PyAudio
pycparser
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
six
soundfile
soxr
stack-data
standard-aifc
standard-chunk
standard-sunau
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
yt-dlp
